{% extends 'driver/driverpage.html' %}
{% load static %}

{% block head %}

<script
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_MAP }}&callback=initMap&libraries=places&v=weekly"
    async>
    </script>


<script>
    //showing the directions on map
    var r_latitude = parseFloat("{{ del.restaurant_address_lat }}");
    var r_longitude = parseFloat("{{ del.restaurant_address_lng }}");
    var delivery_latitude = parseFloat("{{ del.delivery_address_latitude }}");
    var delivery_longitude = parseFloat("{{ del.delivery_address_longitude }}");

    function initMap() {
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: { lat: 53.350140, lng: -6.266155 },
        });

        directionsRenderer.setMap(map);

        calculateAndDisplayRoute(map, directionsService, directionsRenderer);
    }

    function calculateAndDisplayRoute(map, directionsService, directionsRenderer) {
        directionsService.route(
            {
                origin: new google.maps.LatLng(r_latitude, r_longitude),
                destination: new google.maps.LatLng(delivery_latitude, delivery_longitude),
                travelMode: google.maps.TravelMode.DRIVING,
            },
            (response, status) => {
                if (status === "OK") {

                    directionsRenderer.setDirections(response);

                    var leg = response.routes[0].legs[0];
                    new google.maps.Marker({
                        position: leg.start_location,
                        map: map,
                        icon: "{% static 'pics/restaurant_icon.png' %}"
                        //<a href="https://www.flaticon.com/free-icons/restaurant" title="restaurant icons">Restaurant icons created by nawicon - Flaticon</a>
                    });

                    updateDriverPosition(map);
                } else {
                    window.alert("Directions request failed due to " + status);
                }
            }
        );
    }
    //showing driver live location
    function updateDriverPosition(map) {
        navigator.geolocation.watchPosition(
            pos => {
                var driverPostion = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);

                if (!window.driverMarker) {
                    window.driverMarker = new google.maps.Marker({
                        position: driverPostion,
                        map,
                        icon: "{% static 'pics/driver_location.png' %}"
                    });
                } else {
                    window.driverMarker.setPosition(driverPostion);
                }

                map.panTo(driverPostion);
            },
            pos => console.log(pos))
    }
</script>


<style>
    #map {
        flex: 1;
    }
</style>
{% endblock %}

{% block content %}

{% if del.status_of_delivery == 'delivering' %}
<div class="d-flex flex-column h-100" style="padding-bottom: 50px">
    <div id="map"></div>
    <div class="card">
        <div class="card-body p-2">
            <div class="details">
                <div class="p-2">
                    <strong></strong>
                    <div>
                        <strong></strong>
                    </div>
                    <div>
                        <strong>{{ del.address }}</strong>
                        <strong></strong>
                    </div>
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" name="accept">Delivered</button>
                            <input type="hidden" id="getpk" value="" name="receipt_number">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <img src="{% static 'pics/no_delivery.gif' %}" alt="" class="mb-2" width="200" height="200">
    <p>Nothing To Be Delivered</p>

    <a href="{% url 'driver:deliveries_available' %}" class="btn btn-primary">Available Deliveries</a>
</div>
{% endif %}



{% include 'driver/nav_tabs.html' %}

{% endblock %}