{% extends 'driver/driver_profile.html' %}
{% load static %}

{% block main %}

<div class="list-group m-3">
    {% if deliveries %}
    {% for d in deliveries %}
    <div>
        <div class="card">
            <h6 class="text-center">Delivered At : {{ d.delivered_time }}</h6>
            <div class="row card-body">
                <div class="col-9">
                    <div class="m-3">
                        <em class="fas fa-solid fa-map-pin"></em>
                        <strong class="m-3">{{ d.restaurant }}</strong>
                    </div>

                    <div class="m-3">
                        <em class="fas fa-flag-checkered"></em>
                        <strong class="m-2">{{ d.address }}</strong>
                        <br>
                        <small class="font-weight-bold">Information :</small>
                        <small>{{ d.information }}</small>
                    </div>
                </div>

                <div class="col-3">
                    <div>
                        <span 
                         class="badge m-3 {% if request.path == archived_delivery_url %}badge badge-danger{% else %} badge badge-success {% endif %}">{{ d.status_of_delivery }}
                        </span>
                        <h4 class="m-3">€{{ d.price }}0</h4>
                    </div>
                    {% if d.status_of_delivery == 'posted' %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="update">Cancel</button>
                        <input type="hidden" value="{{ d.receipt_number }}" name="receipt_number">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-9">
        <h2>No Delivery Here</h2>
    </div>
    {% endif %}
</div>

{% endblock %}