<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver</title>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <script>
        let covermap = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--covermap', `${covermap}px`);
    </script>

    <script src="https://kit.fontawesome.com/d26d1345cd.js" crossorigin="anonymous"></script>

    <style>
        #mapcontent {
            height: calc(var(--covermap, 1vh) * 100);
        }
    </style>

    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="mapcontent">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>