<style>
    .bottom-nav-tabs {
        position: fixed;
        height: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        text-align: center;
        background-color: rgb(167, 167, 167);
        box-shadow: rgb(17, 17, 17);
        padding: 5px;
    }

    .bottom-nav-tabs>a {
        padding: 0.3%;
        flex: 1;
        text-decoration: none;
    }

    .bottom-nav-tabs>a>em {
        font-size: 20px;
    }

    .bottom-nav-tabs>a.active {
        color: green;
    }

    .bottom-nav-tabs>a>span {
        display: block;
        font-size: 10px;
        font-weight: bold;
    }
</style>

{% url 'driver:deliveries_available' as deliveries_available_url %}
{% url 'driver:delivering_delivery' as delivering_delivery_url %}
{% url 'driver:driver_profile' as driver_profile_url %}

<div class="bottom-nav-tabs d-flex">
    <a href="{% url 'driver:driver_profile' %}" class="{% if request.path == driver_profile_url %}active{% endif %}">
        <em class="fas fa-user"></em>
        <span>Driver</span>
    </a>
    <a href="{% url 'driver:deliveries_available' %}" class="{% if request.path == deliveries_available_url %}active{% endif %}">
        <em class="fas fa-bell"></em>
        <span>Deliveries</span>
    </a>
    <a href="{% url 'driver:delivering_delivery' %}" class="{% if request.path == delivering_delivery_url %}active{% endif %}">
        <em class="fas fa-check-circle"></em>
        <span>Accepted</span>
    </a>
</div>