{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="text-center mt-5 mb-5">Welcome To Delivery Management App</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    </div>

    <div class="col-lg-6 mb-4 driver">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Driver</h5>
          <p class="card-text">Sign Up as a driver and start earning</p>
          <a href="{% url 'driver:home' %}" class="btn btn-primary">Sign Up/In</a>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'pics/delivery.gif' %}" alt="">
      </div>
    </div>

    <div class="col-lg-6 mb-4 restaurant">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Restaurant</h5>
          <p class="card-text">Sign Up as a Restaurant and start getting your food to your customer</p>
          <a href="{% url 'restaurant:home' %}" class="btn btn-primary">Sign Up/In</a>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'pics/restaurant.gif' %}" alt="">
      </div>
    </div>
  </div>
</div>

{% endblock %}