{% extends 'base.html' %}
{% load static %}

{% block content %}

{% url 'restaurant:current_delivery' as current_delivery_url %}
{% url 'restaurant:archived_delivery' as archived_delivery_url %}
{% url 'restaurant:post_delivery' as post_delivery_url %}
{% url 'restaurant:restaurant_profile' as restaurant_profile_url %}

<div class="container mt-2" style="background-color: darkgray; padding: 5% 5% 15% 5%">
    <div class="row">
        <div class="col-4">
            <div class="text-center">
                <img src="{% if request.user.restaurant.restaurant_avatar %} {{ request.user.restaurant.restaurant_avatar.url }} {% else %} {% static 'pics/driverpic.jpg' %} {% endif %}" alt="restaurant_avatar" height="80" width="80" class="rounded-circle">
                <h3>{{request.user.get_full_name}}</h3>
                <h6>{{request.user.email}}</h6>
                <h6>{{request.user.restaurant.restaurant_address}}</h6>
            </div> 
            <div class="list-group text-center">
                <a href="{% url 'restaurant:restaurant_profile' %}" class="list-group-item {% if request.path == restaurant_profile_url %} active {% endif %}">Profile</a>
                <a href="{% url 'restaurant:post_delivery' %}" class="list-group-item {% if request.path == post_delivery_url %} active {% endif %}">Post Deliveries</a>
                <a href="{% url 'restaurant:current_delivery' %}" class="list-group-item {% if request.path == current_delivery_url or request.path == archived_delivery_url %}active{% endif %}">Deliveries Page</a>
                
            </div>
        </div>
        <div class="col-8">
            {% block main %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}